:root {
    /* Dark mode (default) */
    --color-text: #f1b5ff;

    --color-bg: #1a0a24;
    --color-bg-light: #7c378b1e;
    --color-bg-dark: #0e0111;

    --color-selection-text: #bd83ff;
    --color-selection-bg: #55315e;
    
    /* Light mode
    
    --color-text: #50256b;
    
    --color-bg: #f1b5ff;
    --color-bg-light: #eee0f1;
    --color-bg-dark: #dc97f7;
    
    --color-selection-text: #6925b3;
    --color-selection-bg: #a168af;
    */
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: var(--color-bg);
    text-align: center;
}

/* General styles */

::selection {
    color: var(--color-selection-text);
    background-color: var(--color-selection-bg);
}

.section-box {
    padding: 20px;
}

.section-box .card-box a,
.section-box .card-box .card-profile {
    text-align: start;
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: var(--color-text);
    font-size: 16px;
    text-decoration: none;

    background-color: var(--color-bg-light);
    box-shadow: 0 0 15px 5px rgba(13, 5, 19, 0.1);
    margin-top: 20px;
    overflow: hidden;
    transition: .5s;
    width: 500px;
}

/* Card profile content */

div.content-profile {
    padding: 10px 0;
    height: 100px;
}

div.content-profile .card-img {
    border-radius: 100px;
}

.card-profile {
    border-radius: 8px 8px 0 0;
}

.profile-text ul {
    margin-top: 0px;
    padding-left: 20px;
}

.profile-text ul li {
    font-size: 14px;
    margin-bottom: 8px;
}

.profile-text-desc {
    font-size: 14px;
    line-height: 1.2;
}

.card-profile h4 {
    margin-bottom: 10px;
}

.hr {
    border: 0;
    border-bottom: 1px solid;
    border-image-slice: 1;
    border-width: 1.5px;
    border-image-source: linear-gradient(to right, transparent, #743ad5, transparent);
}

/* Main's cards content */

.card-content {
    display: flex;
    align-items: center;
}

.card-content .card-img {
    height: 60px;
    min-width: 60px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    overflow: hidden;
    margin-right: 10px;
}

.card-content .card-img .img {
    height: 100%;
}

.card-text h2 {
    font-size: 20px;
    margin: 5px 5px;
}

.card-text p {
    font-size: 14px;
    margin: 5px 5px;
    line-height: 1.3;
}

/* Animations */

.section-box a span {
    position: absolute;
    display: block;
}

.section-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, var(--color-text));
    animation: btn-anim1 16s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

.section-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, var(--color-text));
    animation: btn-anim2 16s linear infinite;
    animation-delay: .25s
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}

.section-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, var(--color-text));
    animation: btn-anim3 16s linear infinite;
    animation-delay: .5s
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}

.section-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, var(--color-text));
    animation: btn-anim4 16s linear infinite;
    animation-delay: .75s
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
}

/* Footer */

p.final-text {
    color: var(--color-selection-text);
    font-style: italic;
    padding: 20px;
    margin: auto;
    max-width: 500px;
    line-height: 1.3;
    position: relative;
}

.footer {
    color: var(--color-text);
    background-color: var(--color-bg-dark);
    text-align: center;
    padding: 5px 20px;
}

.footer p {
    font-size: 15px;
    margin: 10px 0;
}

.quote {
    font-size: 50px;
    position: absolute;
    top: 10px;
    left: -10px;
    color: var(--color-selection-bg);
    font-family: "Secular One", sans-serif;
    user-select: none;
}

.mail, .mail a {
    text-decoration: none;
    color: var(--color-selection-text);
}


/* Responsive */

@media (max-width: 590px) {
    .section-box .card-box a {
        width: 320px;
    }
    .section-box .card-box .card-profile {
        width: 320px;
    }
}

@media (max-width: 410px) {
    .section-box .card-box a,
    .section-box .card-box .card-profile {
        width: 260px;
    }
}

@media (max-width: 330px) {
    .section-box .card-box a,
    .section-box .card-box .card-profile {
        width: 200px;
    }
    .card-content h2 {
        font-size: 16px;
    }
    .content-profile p {
        font-size: 12px;
    }
}

/* Switch theme */
.theme {
    user-select: none;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
    transition: all .2s ease-in;
}

.theme:hover {
    transform: translateY(-3px);
}
